#root {
	-fx-background-color: #333333;
	-fx-padding: 1px;
}

#number-field {
	-fx-border-width: 1;
	-fx-border-color: #6e737d;
	-fx-background-insets: 1;
	-fx-border-radius: 3 0 0 3;
}

#number-spinner-arrow {
	-fx-fill: gray;
	-fx-stroke: black;
    -fx-effect: dropshadow(one-pass-box, white, 0, 1, 0, 1);
}

#buttons-box {
	-fx-border-color: #6e737d;
	-fx-border-width: 1 1 1 0;
	-fx-border-radius: 0 3 3 0;
}

#spinner-button-up {
	-fx-background-insets: 0;
	-fx-background-radius: 0 3 0 0;
}

#spinner-button-down {
	-fx-background-insets: 0;
	-fx-background-radius: 0 0 3 0;
}

#modal-dimmer {
	-fx-background-color: rgb(0, 0, 0, 0.5);
}

#config-dialog {
	-fx-background-color: black, white, linear-gradient(rgb(250, 250, 250),
		rgb(230, 230, 230) );
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 15, 14, 13;
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}

#config-dialog #title {
	-fx-font-size: 1.4em;
	-fx-font-weight: bold;
	-fx-text-fill: orangered;
}

#top-toolbar {
	-fx-padding: 3 4 4 4;
	-fx-border-image-source: url("images/mid-bar.png");
	-fx-border-image-slice: 1 0 1 0 fill;
	-fx-border-image-width: 1 0 1 0;
	-fx-border-image-repeat: stretch;
}

#mid-toolbar {
	-fx-padding: 3 4 4 4;
	-fx-background-color: linear-gradient(to bottom, #dbdcdd 0%, #a9a9ab 100%);
}

#main-area {
	-fx-padding: 0;
}

#main-splitpane {
	-fx-background-color: null;
	-fx-background-insets: 0;
	-fx-padding: 0;
}

#main-splitpane *.split-pane-divider {
	-fx-padding: 0 0 0 0;
	-fx-background-color: transparent, #333333;
	-fx-background-insets: 0 -3 0 -3, 0;
	-fx-border-color: null;
}

#main-splitpane *.horizontal-grabber {
	-fx-padding: 0;
	-fx-shape: "";
}

.search-box .text-field {
	-fx-background-color: white;
	-fx-background-insets: 1;
	-fx-background-radius: 15;
	-fx-padding: -9 5 -11 0;
	-fx-border-image-source: url("images/search-box.png");
	-fx-border-image-slice: 12 12 12 22 fill;
	-fx-border-image-width: 12 12 12 22;
	-fx-border-image-repeat: stretch;
	-fx-font-size: 13px;
	-fx-prompt-text-fill: grey;
}

.search-box .text-field:focused {
	-fx-background-color: -fx-focus-color, white;
	-fx-background-insets: -1.4, 1;
	-fx-background-radius: 14.4;
}

.search-box .button {
	-fx-background-color: null;
	-fx-background-image: url("images/search-clear.png");
}

.search-box .button:hover {
	-fx-background-image: url("images/search-clear-over.png");
}

#window-resize-button {
	-fx-background-image: url("images/window-corner.png");
	-fx-background-position: right 1px bottom 1px;
	-fx-background-repeat: no-repeat;
}

#window-close {
	-fx-font-size: 1px;
	-fx-background-color: null;
	-fx-background-image: url("images/window-close.png");
	-fx-padding: 6 6 4 6;
}

#window-min {
	-fx-font-size: 1px;
	-fx-background-color: null;
	-fx-background-image: url("images/window-min.png");
	-fx-padding: 6 6 4 6;
}

#window-max {
	-fx-font-size: 1px;
	-fx-background-color: null;
	-fx-background-image: url("images/window-expand.png");
	-fx-padding: 6 6 4 6;
}

#window-close:hover {
	-fx-background-image: url("images/window-close-over.png");
}

#window-min:hover {
	-fx-background-image: url("images/window-min-over.png");
}

#window-max:hover {
	-fx-background-image: url("images/window-expand-over.png");
}

#window-close:focused,#window-min:focused,#window-max:focused {
	-fx-effect: dropshadow(three-pass-box, -fx-focus-color, 5, 0.7, 0, 0);
}
/* Window Button Styles */
.window-button {
	-fx-skin: "com.sun.javafx.scene.control.skin.ButtonSkin";
	-fx-background-color: #616161, #464646, #505050;
	-fx-background-insets: 0, 1, 2;
	-fx-background-radius: 6, 5, 4;
	-fx-padding: 0 0 0 0;
	/* workaround for button sizing */
	-fx-font-size: 1px;
}

.window-button:focused {
	-fx-background-color: -fx-accent, #464646, #505050;
	-fx-background-insets: -0.4, 1, 2;
	-fx-background-radius: 6.4, 5, 4;
}

.window-button:hover {
	-fx-background-color: #616161, white, -fx-accent;
}

.window-button:pressed {
	-fx-background-color: #616161, white, #303030;
}

.window-button Rectangle {
	-fx-fill: #949494;
}

.window-button:hover Rectangle {
	-fx-fill: white;
}
/* move buttom arrow up to make room for window rewsize button */
.application .noborder-scroll-pane>*>.scroll-bar:vertical {
	-fx-padding: -1.0 -1.0 12 0.0;
}

.application .web-view-window-corner .scroll-bar:vertical {
	-fx-padding: 0 0 12 0;
}

.inset-label .text {
	-fx-effect: dropshadow(one-pass-box, white, 0, 1, 0, 1);
}

.inset-label {
	-fx-padding: 6px;
	-fx-font-size: 1.3em;
}

.big-font {
	-fx-font-size: 1.3em;
}

.stroked .text {
	-fx-strikethrough: true;
}

.today {
	-fx-background-color: linear-gradient(to bottom, #467746 0%, #509987 100%);
}

.dark {
	-fx-base: #333333;
}

.color-chooser-cell {
	-fx-background-color: linear-gradient(to bottom, #dbdcdd 0%, #a9a9ab 100%);
}

#color-chooser .list-cell {
	-fx-background-color: null;
}

#time-label .text {
	-fx-font-size: 20em;
}

#time-label-small .text {
	-fx-font-size: 2em;
}

#timer-box {
	-fx-background-color: black, white, linear-gradient(rgb(250, 250, 250),
		rgb(230, 230, 230) );
	-fx-padding: 15;
	-fx-effect: dropshadow(three-pass-box, black, 20, 0, 0, 0);
}
